<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vnu.uet.tuan.uetsupporter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialThemeActionBar">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/MyMaterialThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" /> <!-- LAUCHER -->
            </intent-filter>
        </activity>

        <service android:name=".Firebase.MyFirebaseInstanceId">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.MyFirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.ResultActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/MyMaterialThemeActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/MyMaterialThemeActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vnu.uet.tuan.uetsupporter.Activities.MainActivity" />
        </activity>
        <activity android:name=".Activities.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/MyMaterialThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vnu.uet.tuan.uetsupporter.Activities.MainActivity" />
        </activity>

        <receiver android:name=".Broascast.BroadcastNotification">
            <intent-filter>
                <action android:name="vnu.uet.tuan.uetsupporter.chitiet" />
                <action android:name="vnu.uet.tuan.uetsupporter.xemsau" />
                <action android:name="vnu.uet.tuan.uetsupporter.daxem" />
                <action android:name="vnu.uet.tuan.uetsupporter.close" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activities.Result2Activity" />
        <activity android:name=".Activities.test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.NewMailActivity"></activity>
    </application>

</manifest>